<!-- language: html -->

<!-- <h1>Main Page</h1>
    <p>This is the main page content.</p>
    <span id="user-info">Test</span>
    <img src="imgs/placeholder_avatar.svg" alt="User Avatar" class="avatar" id="user-pfp"> -->
<link rel="stylesheet" href="../css/main.css" />
<div class="main-container">
  <aside class="sidebar">
    <div class="sidebar-content">
      <img
        src="imgs/placeholder_logo.svg"
        alt="Company Logo"
        class="main-logo"
      />
      <div class="side-container">
        <button class="side-button active">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Dashboard</span>
        </button>
        <button class="side-button">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Orders</span>
        </button>
        <button class="side-button">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Products</span>
        </button>
        <button class="side-button">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Customers</span>
        </button>
        <button class="side-button">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Reports</span>
        </button>
        <button class="side-button">
          <img src="../imgs/placeholder_icon_2.png" alt="Icon" />
          <span>Discounts</span>
        </button>
        <hr />
      </div>
    </div>
    <button id="logout-btn">logout</button>
  </aside>

  <div class="main-content">
    <div class="top-panel">
      <div class="top-left-content">
        <h1>Dashboard</h1>
        <input type="text" placeholder="Search..." class="search-bar" />
      </div>
      <div class="top-right-content">
        <img src="../imgs/messenger.png" alt="Messenger Icon" class="icon" />
        <img src="../imgs/notification.png" alt="Notification Icon" class="icon" />
        <img
          src="imgs/placeholder_avatar.svg"
          alt="User Avatar"
          class="avatar"
          id="user-pfp"
        />
        <span id="user-info">Test</span>
      </div>
    </div>
    <div class="content">
      <div class="left-panel"></div>
      <div class="right-panel"></div>
    </div>
  </div>
</div>
